Small devices (landscape phones, 576px and up) @media (max-width: 576px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .header-content {
        left : 40%;
        width: 200px;
    }

    .section-techs img {
        width: 20%;
    }

    .section-techs h2 {
        font-size  : 4em;
        font-weight: 300;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

    header {
        clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 94%, 0 83%);
    }

    .header-content {
        position : absolute;
        max-width: 100vw;
        width    : 200%;
    }

    ul li a:before {
        font-size: 2em;
    }

    .section-introduction .wrapper {
        margin: 30px auto 0 auto;
        width : 100vw;
    }

    .section-techs {
        width: 100vw;
    }

    #parallax-text {
        font-size: 8rem;
    }

    #moon {
        width: 120%;
    }

    .section-project [data-bigletter]:before {
        width: 100%;
        left : -4%;
    }

    .itemBox .contentBx {
        padding: 10px 25px 20px 25px;
    }

    .itemBox .contentBx h4 {
        font-size: 120%;
    }

    .itemBox .contentBx p {
        font-size: 80%;
    }

    .button-container a {
        position      : relative;
        margin        : 10px;
        letter-spacing: 1px;
    }

    .button-container a span {
        font-size: 80%;
    }

    .section-techs img {
        width: 17%;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px),
screen and (max-height: 626px) {
    .header-content {
        max-width: 60%;
        width    : 100%;
        top      : 40%;
    }

    .section-introduction .wrapper,
    .section-techs {
        width: 90%;
    }

    .section-techs h2 {
        font-size  : 6em;
        font-weight: 800;
    }

    .project-container {
        width: 100%;
    }

    .section-contact .wrapper {
        width  : 80%;
        height : 80%;
        padding: 4rem 2rem 2rem 2rem;
    }
}