/*
#17252A   黑
#2B7A7B   灰
#3AAFA9   高级
#DEF2F1     淡白
#FEFFFF    白
font-family: 'Cormorant Garamond', serif;   HEADING
font-family: 'Montserrat', sans-serif;      BODY
*/

/*-----------------------    Basic setup    -----------------------*/
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing        : inherit;
}

html,
body {
    background-color: #def2f1;
    color           : #555;
    font-weight     : 300;
    font-size       : 20px;
    text-rendering  : optimizeLegibility;
    overflow-x      : hidden;
    font-family     : 'Cormorant Garamond', serif;
}

/*-----------------------    Reusable Component    -----------------------*/

row {
    margin   : 0 auto;
    max-width: 1140px;
    overflow : hidden;
}

section {
    clear        : both;
    width        : 100%;
    margin-bottom: 200px;
}

[data-bigletter]:before {
    z-index    : -1;
    content    : attr(data-bigletter);
    font-weight: 700;
    font-size  : 150%;
    position   : absolute;
    top        : -30%;
    left       : 10%;
    right      : 10%;
    text-align : center;
    opacity    : 0.1;
    transition : all 600ms 0.2s ease;
}

[data-bigletter] {
    position: relative;
    z-index : 1;
}

.section-title {
    display      : block;
    font-size    : 180%;
    font-weight  : bold;
    text-align   : center;
    margin-bottom: 40px;
}

h2 :after {
    content         : "";
    display         : block;
    height          : 4px;
    border-radius   : 2px;
    background-color: #3aafa9;
    width           : 200px;
    margin          : 10px auto 0 auto;
}

.clearfix:after {
    visibility: hidden;
    display   : block;
    content   : '';
    clear     : both;
    height    : 0;
}

/*-----------------------    Heading    -----------------------*/

h2,
h3 {
    font-weight   : 300;
    text-transform: uppercase;
    font-family   : 'Montserrat', sans-serif;
    color         : #17252a
}

h1 {
    margin-top    : 0;
    color         : #FEFFFF;
    word-spacing  : 4px;
    letter-spacing: 2px;
    font-weight   : 600;
    font-size     : 300%;
    font-family   : 'Montserrat', sans-serif;
}

/* ----------------------------Alice -------------------------- */
/* .pace {
    position          : fixed;
    top               : 50%;
    left              : 50%;
    margin-left       : -100px;
    width             : 200px;
    background        : #4d4d4d;
    z-index           : 999999;
    transition        : all 800ms .2s ease-in-out;
    -webkit-transition: all 800ms .2s ease-in-out;
    -moz-transition   : all 800ms .2s ease-in-out;
    -o-transition     : all 800ms .2s ease-in-out;
    -ms-transition    : all 800ms .2s ease-in-out;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

body.loading .pace {
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

body.loadingEnd .pace {
    top       : 40%;
    opacity   : 0 !important;
    filter    : alpha(opacity=0) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
}

.pace .pace-progress {
    background        : #ffffff;
    z-index           : 2000;
    height            : 1px;
    -webkit-transition: all 1s;
    transition        : all 1s;
}

.pace-inactive {
    display: none;
}

#pageLoader {
    position  : fixed;
    width     : 100%;
    height    : 100%;
    background: #0d0d0d;
    z-index   : 10001;
}

.pageLoaderInner {
    width      : 200px;
    height     : 1px;
    position   : absolute;
    top        : 50%;
    margin-top : -10px;
    left       : 50%;
    margin-left: -100px;
    text-align : center;
}

.pageLoaderInner .loaderLogoName {
    color             : #ffffff;
    position          : absolute;
    top               : 0px;
    left              : 50%;
    width             : 300px;
    margin-left       : -150px;
    margin-top        : -120px;
    transition        : all 800ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition   : all 800ms ease-in-out;
    -o-transition     : all 800ms ease-in-out;
    -ms-transition    : all 800ms ease-in-out;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

body.loading .loaderLogoName {
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

body.loadingEnd .loaderLogoName {
    top       : -60px;
    opacity   : 0;
    filter    : alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.pageLoaderInner .loaderLogoName img {
    max-height: 40px;
}

.pageLoaderInner h6 {
    color             : #ffffff;
    font-size         : 12px;
    margin-top        : -30px;
    transition        : all 800ms .1s ease-in-out;
    -webkit-transition: all 800ms .1s ease-in-out;
    -moz-transition   : all 800ms .1s ease-in-out;
    -o-transition     : all 800ms .1s ease-in-out;
    -ms-transition    : all 800ms .1s ease-in-out;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

body.loading .pageLoaderInner h6 {
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

body.loadingEnd .pageLoaderInner h6 {
    margin-top: -100px;
    opacity   : 0;
    filter    : alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.loadingEnd .bodyborderTop,
.loadingEnd .bodyborderBottom,
.loadingEnd .bodyborderLeft,
.loadingEnd .bodyborderRight {
    -webkit-transition: all 0.6s 0.8s ease;
    transition        : all 0.6s 0.8s ease;
}

.loadingEnd .bodyborderTop {
    top: 0 !important;
}

.loadingEnd .bodyborderBottom {
    bottom: 0 !important;
}

.loadingEnd .bodyborderLeft {
    left: 0 !important;
}

.loadingEnd .bodyborderRight {
    right: 0 !important;
}

.loadingEnd .headerContent {
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
} */

/*-----------------------    Header    -----------------------*/
header {
    height   : 122vh;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
    position : relative;
}

.fullscreen-bg {
    position: fixed;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    overflow: hidden;
}

#myVideo {
    position  : absolute;
    top       : 0;
    left      : 0;
    min-width : 100%;
    min-height: 100%;
}

.nav-header-white,
.nav-header-black {
    float      : left;
    margin-top : 20px;
    margin-left: 100px;
}

.nav-header-black {
    display: none;
}

.logo {
    position      : absolute;
    color         : #FEFFFF;
    font-size     : 250%;
    padding       : 2px;
    letter-spacing: 3px;
    font-weight   : 600;
    font-family   : 'Cormorant Garamond', serif;
}

.logo span {
    color: #BC4639;
}

.nav-header a {
    text-decoration: none;
}

.header-content {
    position : absolute;
    max-width: 1140px;
    width    : 100%;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.hearder-content span {
    width      : auto;
    font-size  : 120%;
    font-weight: 300;
}


.menu {
    display : block;
    position: relative;
    right   : -93%;
}

/* alice */
.menu {
    position: relative;
    right   : -93%;
}

nav {
    position: fixed;
    top     : 0px;
    right   : 0px;
    width   : 100%;
    height  : 100%;
    z-index : 100000;
    overflow: hidden;
    display : none;
}

.navBg {
    background                 : #0d0d0d;
    position                   : absolute;
    top                        : 0px;
    right                      : 0px;
    width                      : 100%;
    height                     : 100%;
    opacity                    : 0.95;
    filter                     : alpha(opacity=95);
    -ms-filter                 : "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    -webkit-backface-visibility: hidden;
    backface-visibility        : hidden;
}

.navLogo {
    position          : absolute;
    z-index           : 100001;
    top               : 100px;
    left              : 0;
    width             : 100%;
    text-align        : center;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition        : all 600ms 0.2s ease;
    -webkit-transition: all 600ms 0.2s ease;
    -moz-transition   : all 600ms 0.2s ease;
    -o-transition     : all 600ms 0.2s ease;
    -ms-transition    : all 600ms 0.2s ease;
}

.navVisible .navLogo {
    top       : 80px;
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.navLogo img {
    height: 40px;
}

.navSocial {
    position          : absolute;
    z-index           : 100001;
    bottom            : 100px;
    left              : 0;
    width             : 100%;
    text-align        : center;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition        : all 600ms 0.4s ease;
    -webkit-transition: all 600ms 0.4s ease;
    -moz-transition   : all 600ms 0.4s ease;
    -o-transition     : all 600ms 0.4s ease;
    -ms-transition    : all 600ms 0.4s ease;
}

.navSocial i {
    color: white;
}

.navVisible .navSocial {
    bottom    : 90px;
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.navInner {
    max-height: 80%;
    position  : relative;
    z-index   : 100001;
    opacity   : 0;
    filter    : alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.navInner ul {
    text-align: center;
    margin    : 0 auto;
}

.navInner ul li {
    margin  : 0 20px;
    padding : 0;
    position: relative;
    display : inline-block;
}

.navInner ul li a {
    display           : inline-block;
    font-family       : 'Montserrat';
    font-weight       : 700;
    font-size         : 18px;
    letter-spacing    : 0.1em;
    line-height       : 40px;
    color             : #ffffff;
    text-decoration   : none;
    text-transform    : uppercase;
    -webkit-transition: all 100ms linear;
    transition        : all 100ms linear;
    opacity           : 0.70;
    filter            : alpha(opacity=70);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.navVisible .navInner {
    top       : 43%;
    opacity   : 1;
    filter    : alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

nav [data-bigletter]:before {
    top               : -0.25em;
    font-size         : 2.6em;
    -webkit-transition: all 400ms ease;
    transition        : all 400ms ease;
    width             : 60px;
    margin-left       : -30px;
    opacity           : 0;
    filter            : alpha(opacity=0);
    -ms-filter        : "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.navInner ul li:hover>a[data-bigletter]:before,
.navInner ul li.currentMenuItem>a[data-bigletter]:before {
    top       : -0.02em;
    opacity   : 0.25;
    filter    : alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.openNav {
    padding           : 2%;
    display           : block;
    background        : transparent;
    width             : 20px;
    height            : 20px;
    position          : relative;
    transition        : all 600ms ease;
    -webkit-transition: all 600ms ease;
    -moz-transition   : all 600ms ease;
    -o-transition     : all 600ms ease;
    -ms-transition    : all 600ms ease;
    z-index           : 100003;
}

.openNav span {
    display          : inline-block;
    position         : absolute;
    left             : 50%;
    top              : 50%;
    bottom           : auto;
    right            : auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform        : translateX(-50%) translateY(-50%);
    width            : 18px;
    height           : 2px;
    background-color : #ffffff;
}

.openNav span:before,
.openNav span:after {
    content                    : '';
    width                      : 100%;
    height                     : 100%;
    position                   : absolute;
    background-color           : #ffffff;
    right                      : 0;
    -webkit-transform          : translateZ(0);
    transform                  : translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility        : hidden;
    -webkit-transition         : background .3s, -webkit-transform .3s;
    transition                 : background .3s, -webkit-transform .3s;
    transition                 : transform .3s, background .3s;
    transition                 : transform .3s, background .3s, -webkit-transform .3s;
    -webkit-transition         : -webkit-transform .3s, background .3s;
    -moz-transition            : -moz-transform .3s, background .3s;
    -o-transition              : -o-transform .3s, background .3s;
    -ms-transition             : -ms-transform .3s, background .3s;
}

.openNav span:before {
    -webkit-transform: translateY(-6px) rotate(0deg);
    transform        : translateY(-6px) rotate(0deg);
}

.openNav span:after {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform        : translateY(6px) rotate(0deg);
}

.openNav:hover span:before {
    -webkit-transform: translateY(-8px) rotate(0deg);
    transform        : translateY(-8px) rotate(0deg);
}

.openNav:hover span:after {
    -webkit-transform: translateY(8px) rotate(0deg);
    transform        : translateY(8px) rotate(0deg);
}

.openNav span.isClicked {
    background-color: transparent;
}

.openNav span.isClicked:before,
.openNav span.isClicked:after {
    background-color: #ffffff;
}

.openNav span.isClicked:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform        : translateY(0) rotate(45deg);
}

.openNav span.isClicked:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform        : translateY(0) rotate(-45deg);
}

/* open-nav button */
.headerText {
    margin: 13% 10%;
}

.headerText h1,
.headerText h3 {
    color: white;
}

.stickyHeader .menu {
    position: fixed;
    z-index : 100003;
    top     : 10px;
    right   : 40px;
}

.stickyHeader .menu .openNav span,
.stickyHeader .menu .openNav span::before,
.stickyHeader .menu .openNav span::after {
    background-color: black;
}

.stickyHeader .menu .openNav span.isClicked:before,
.stickyHeader .menu .openNav span.isClicked:after {
    background-color: #ffffff;
}

.stickyHeader .fixedLogo {
    opacity : 1;
    z-index : 100003;
    position: fixed;
    left    : 39px;
}

/*main navi*/
/* .main-nav {
    list-style  : none;
    float       : right;
    margin-top  : 50px;
    margin-right: 100px;
    position    : relative;
}

.main-nav li {
    display     : inline;
    margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color          : #FEFFFF;
    text-decoration: none;
    font-size      : 100%;
    text-transform : uppercase;
    border-bottom  : 2px solid transparent;
    border-radius  : 3px;
    font-family    : 'Montserrat', sans-serif;
    transition     : border-bottom 0.2s;
    padding-bottom : 5px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 4px solid #BC4639;
} */

/*sticky navi*/
/* .sticky {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    width           : 100%;
    height          : 2.5rem;
    background-color: rgb(255, 239, 239);
    box-shadow      : 0 5px 10px rgb(194, 188, 188);
    z-index         : 9999;
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 10px 0;
    color  : #555;
}

.sticky .nav-header-white {
    display: none;
}

.sticky .nav-header-black {
    margin-top: 0px;
    display   : block;
}

.sticky .nav-header-black .logo {
    font-size: 200%;
    color    : #2B7A7B;
} */

/*-----------------------   Introduction Section    -----------------------*/
F .triangle {
    height       : 0;
    width        : 0;
    border-left  : 100px solid #BC4639;
    border-right : 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-top   : 100px solid transparent;
}

.section-introduction {}

/*-----------------------   Project Section    -----------------------*/

.project-filter {
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

.project-filter li {
    padding: 0 20px 10px 0;
    margin : 0;
    display: inline-block;
}

.project-filter li a {
    position       : relative;
    text-decoration: none;
    font-family    : 'Montserrat', sans-serif;
    color          : #3AAFA9;
    font-size      : 40%;
    text-transform : uppercase;
    letter-spacing : 5px;
}

.group {
    margin: 0 20%;
    width : auto;
}

.col {
    display: block;
    float  : left;
    width  : 100%;
    margin : 0;
}

.group .col {
    background-color: #000;
}

.col:first-child {
    margin-left: 0;
    width      : 49.2%;
    overflow   : hidden;
}

.col:last-of-type {
    width   : 49.2%;
    overflow: hidden;
}

.col img {
    overflow  : hidden;
    height    : 100%;
    width     : 100%;
    opacity   : 0.7;
    transform : scale(1.15);
    transition: opacity 0.5s, transform 0.5s;

}

.col img:hover {
    opacity  : 1;
    transform: scale(1.03);

}

/*-----------------------   Contact Section    -----------------------*/

.section-contact {
    background-image     : url(../img/overlay-bg-5.jpg);
    background-size      : cover;
    background-position  : center;
    height               : 100vh;
    background-attachment: fixed;
    margin-bottom        : 0;
    padding-top          : 10%;
    position             : relative;
}

.overlay {
    display         : block;
    position        : absolute;
    top             : 0;
    left            : 0px;
    padding         : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0.7;
    background-color: #17252A;
}

.wrapper {
    position        : relative;
    width           : 70%;
    height          : 70%;
    padding         : 2rem;
    margin-left     : auto;
    margin-right    : auto;
    background-color: #FEFFFF;
    opacity         : 0.8;
}

.contact-form {
    width         : 80%;
    height        : 100%;
    margin        : 0 auto;
    padding       : 0 1%;
    color         : #17252A;
    font-family   : 'Montserrat', sans-serif;
    font-size     : 110%;
    letter-spacing: 1px;
}

.contact-form .col {
    margin: 0 0 2% 0;
}

.contact-form .col label {
    width: 90%;
}

input[type=text],
input[type=email],
select,
textarea {
    width        : 90%;
    padding      : 7px;
    border-radius: 3px;
    border       : 1px solid #ccc;
    font-family  : 'Montserrat', sans-serif;
    font-size    : 100%;
}

textarea {
    height: 5rem;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    display         : inline-block;
    padding         : 10px 30px;
    font-weight     : 300;
    text-decoration : none;
    border-radius   : 100px;
    background-color: #3AAFA9;
    border          : 1px solid #3AAFA9;
    color           : #FFF;
    margin-right    : 15px;
    transition      : background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #BC4639;
    border          : 1px solid #BC4639;
    cursor          : pointer;
}

*:focus {
    outline: none;
}

/*-----------------------   Footer    -----------------------*/

footer {
    text-align    : center;
    color         : #fff;
    padding-bottom: 2rem;
}

.copyright-box {
    max-width    : 1140px;
    margin-right : auto;
    margin-left  : auto;
    position     : relative;
    min-height   : 1px;
    padding-right: 15px;
    padding-left : 15px;
}

.copyright {
    display            : block;
    width              : 100%;
    height             : auto;
    color              : #FEFFFF;
    margin-block-start : 1em;
    margin-block-end   : 1em;
    margin-inline-start: 0px;
    margin-inline-end  : 0px;
}